@import "compass";
@import "theme_variables";

#footer .tags_block{
	padding: 30px 0 40px;
	.title_block{
		color: $theme-color-tertiary;
		margin-top: 0;
		padding-bottom: 0;
		margin-bottom: 15px;
	}
	.block_content{
		& > a{
			font-size: 13px;
			@include rtl-margin-right(10px);
			position: relative;
			display: inline-block;
			padding: 5px 0;
			&:after{
				content: '-';
				position: absolute;
				@include rtl-right(-9px);
				top: 6px;
			}
			&.last_item:after{
				display: none;
			}
			&:hover,&:active,&:focus{
				color: #333333;
				text-decoration: underline;
			}
		}
	}
}	