/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* line 4, ../../../sass/modules/blocksocial/blocksocial.scss */
#footer #social_block {
  margin-top: 25px;
}
@media (max-width: 767px) {
  /* line 4, ../../../sass/modules/blocksocial/blocksocial.scss */
  #footer #social_block {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  /* line 9, ../../../sass/modules/blocksocial/blocksocial.scss */
  #footer #social_block .title_block {
    display: none;
  }
}
